<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xhanglog.dao.CommentMapper">
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
    <resultMap id="BaseResultMap" type="cn.xhanglog.entity.Comment" >
        <id column="comment_id" property="commentId" jdbcType="INTEGER" />
        <result column="article_id" property="articleId" jdbcType="INTEGER" />
        <result column="member_id" property="memberId" jdbcType="VARCHAR" />
        <result column="comment_pname" property="commentPname" jdbcType="VARCHAR" />
        <result column="comment_pid" property="commentPid" jdbcType="INTEGER" />
        <result column="zid" property="zid" jdbcType="INTEGER" />
        <result column="comment_status" property="commentStatus" jdbcType="INTEGER" />
        <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
        <result column="comment_create_time" property="commentCreateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="getCommentsByArticalId" resultMap="BaseResultMap" >
        select * from t_comment where article_id = #{id};
    </select>
    <insert id="addComment" useGeneratedKeys="true" keyProperty="commentId">
        insert into t_comment
        set
        comment_id = #{commentId},article_id = #{articleId},member_id = #{memberId},comment_pname = #{commentPname},
        comment_pid = #{commentPid},zid = #{zid},comment_status = #{commentStatus},comment_content = #{commentContent},
        comment_create_time = #{commentCreateTime};
    </insert>
    <update id="updateComment">
        update t_comment set zid = #{commentId} where comment_id = #{commentId};
    </update>
</mapper>