<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xhanglog.dao.MenuMapper">
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
    <resultMap id="BaseResultMap" type="cn.xhanglog.entity.Menu" >
        <id column="menu_id" property="menuId" jdbcType="INTEGER" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <result column="menu_sort" property="menuSort" jdbcType="INTEGER" />
        <result column="available" property="available" jdbcType="BIT" />
        <result column="look_view" property="lookView" jdbcType="INTEGER" />
        <result column="menu_description" property="menuDescription" jdbcType="VARCHAR" />
        <result column="menu_create_time" property="menuCreateTime" jdbcType="TIMESTAMP" />
        <result column="menu_update_time" property="menuUpdateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="getAllMenu" resultMap="BaseResultMap" parameterType="cn.xhanglog.entity.Menu" >
        select * from menu
        <where>
            <if test="st == 0">
                available = 1
            </if>
        </where>
        order by menu_sort;
    </select>

    <select id="getMenuByName" resultMap="BaseResultMap" parameterType="cn.xhanglog.entity.Menu" >
        select * from menu where menu_name = #{menuName};
    </select>

    <select id="getMenuCount" resultType="integer">
        select count(*) from  menu;
    </select>

    <update id="editSwitch" >
        update menu set available = #{val} where menu_id = #{menuId};
    </update>

    <delete id="delMenuById" parameterType="integer">
        delete from menu where menu_id = #{menuId};
    </delete>

    <select id="getMenuInfo" resultMap="BaseResultMap">
        select * from menu where menu_id = #{menuId};
    </select>

    <insert id="addMenu" parameterType="Menu">
        insert into menu set pid = #{pid},menu_name = #{menuName},menu_sort = #{menuSort},available = #{available},
        look_view = #{lookView},menu_description = #{menuDescription},menu_create_time = #{menuCreateTime},menu_update_time = #{menuUpdateTime};
    </insert>

    <update id="editMenu" parameterType="Menu">
        update menu set pid = #{pid},menu_name = #{menuName},menu_sort = #{menuSort},available = #{available},
        look_view = #{lookView},menu_description = #{menuDescription},menu_update_time = #{menuUpdateTime}
        where menu_id = #{menuId};
    </update>

    <update id="editInText">
        update menu set ${field} = ${value} where menu_id = ${menuId};
    </update>
</mapper>